#about-wrapper {
    padding: 8vh 8vw;
}
#about-wrapper h1 {
    font-size: 3.5em;
    margin-bottom: 7vh;
}
#about-wrapper p {
    color: #777;
    font-size: 14pt;
    width: 30vw;
    margin: 4vh 0;
}
#about-wrapper a {
    font-size: 14pt;
}
