html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    font-family: Open Sans, sans-serif;
    background-color: #eee;
}
#big-flex-wrapper {
    display: flex;
    height: 100%;
    align-items: stretch;
    transition: transform 200ms ease-in-out;
}
a, .a {
    color: #ff4545;
    text-decoration: none;
    cursor: pointer;
}
a:hover, .a:hover, a:active, .a:active {
    text-decoration: underline;
}
h2 {
    padding: 3vh 0;
    color: #444;
    font-family: Trebuchet MS, Open Sans, sans-serif;
    font-size: 1.7em;
}
h3 {
    padding: 1vh 0;
    font-size: 1.33em;
    font-weight: lighter;
    color: #858585;
    font-family: Quicksand, sans-serif;
}
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}
#error-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: -4em;
    width: 100vw;
    z-index: 10000;
}
#error {
    box-shadow: 0 0 8px #444;
    color: #fff;
    background-color: #f55;
    text-align: center;
    border-radius: 3px;
    transition: transform 400ms;
    padding: 1.5vh 1.5vw;
}
input[type="checkbox"] {
    display: none;
}
.red-selected {
    /* can't do selectivity based because <label> needs this... */
    color: #f44 !important;
    border: 2px solid #f44 !important;
}
