body {
    background-color: #eee;
    margin: 0;
    /* Please, anything open source! Oh god! I had to type the word Arial! Forgive me, for I have sinned */
    font-family: 'Open Sans', 'Droid Sans', Ubuntu, 'DejaVu Sans', 'Bitstream Vera Sans', NimbusSans, Arial, sans-serif;
}
#spec-viewer {
    width: 60vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
}
#part-selector {
    width: 40vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
    right: 0;
    box-shadow: 0 0 15px #999;
}
a, .a {
    color: #ff4545;
    text-decoration: none;
    cursor: pointer;
}
a:hover, .a:hover, a:active, .a:active {
    text-decoration: underline;
}
.padded {
    padding: 5vh;
}
h2 {
    padding: 3vh 0;
    color: #444;
}
h3 {
    padding: 1vh 0;
    font-size: 1.33em;
    font-weight: lighter;
    color: #999;
}
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}
