body {
    margin: 0;
    font-family: Open Sans, sans-serif;
}
#spec-viewer {
    width: 60vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
    background-color: #e8e8e8;
}
#part-selector {
    width: 40vw;
    height: 100vh;
    overflow: auto;
    position: fixed;
    right: 0;
    box-shadow: 0 0 15px #999;
    background-color: #f1f1f1;
}
a, .a {
    color: #ff4545;
    text-decoration: none;
    cursor: pointer;
}
a:hover, .a:hover, a:active, .a:active {
    text-decoration: underline;
}
.padded {
    padding: 5vh;
}
h2 {
    padding: 3vh 0;
    color: #444;
    font-family: Trebuchet MS, Open Sans, sans-serif;
    font-size: 1.7em;
}
h3 {
    padding: 1vh 0;
    font-size: 1.33em;
    font-weight: lighter;
    color: #858585;
    font-family: Quicksand, sans-serif;
}
.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}
#error-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 5vh;
    width: 100vw;
    transform: translateY(-15vh);
    transition: transform 400ms;
    z-index: 10000;
}
#error {
    box-shadow: 0 0 8px #444;
    color: #fff;
    background-color: #f55;
    text-align: center;
    border-radius: 3px;
    padding: 1.5vh 1.5vw;
}
