/* used when a part is clicked on mobile to signal that you might want to go to the other tab thing */
@keyframes blinky {
    0%, 100% {
        background-color: inherit;
    }
    50% {
        background-color: #faa;
    }
}

@media (max-width: 800px) and (orientation: portrait) {
    #big-flex-wrapper {
        width: 200vw;
    }
    /* it worked without higher specificity before but now it's not so whatever */
    div#spec-viewer {
        flex: 90vw;
        box-shadow: 0 0 15px #999;
    }
    div#part-selector {
        flex: 90vw;
    }
    #clicky-movey {
        display: block;
    }
    #mobile-toggle:checked ~ #big-flex-wrapper {
        transform: translateX(-100vw);
    }
    .part {
        flex-basis: 250px;
    }
}
