/* used when a part is clicked on mobile to signal that you might want to go to the other tab thing */
@keyframes blinky {
	0%, 100% {
		background-color: inherit;
	}
	50% {
		background-color: #faa;
	}
}

/* if the rules to activate mobile mode are changed, change them in hash.js too! */
@media (max-width: 800px) {
	div#part-selector {
		position: fixed;
		width: 90vw;
		height: 100%;
		top: 0;
		right: 0;
		transform: translateX(90vw);
		box-shadow: none;
		transition: all 300ms;
	}
	#mobile-toggle:checked ~ #big-flex-wrapper > #part-selector {
		transform: translateX(0);
		box-shadow: 0 0 15px #999;
	}
	.part {
		flex-basis: 250px;
	}
	table.spec-tab td, table.spec-tab th {
		padding: 1rem 0.5rem;
	}
	div.table-section-label {
		left: 4rem;
	}
	div.table-section-bracket {
		left: 0.5rem;
	}
	div#mobile-toggle-label-wrapper {
		display: block;
	}
}
