#part-selector {
    flex: 40vw;
    /* otherwise, the scrollbar affects width and can mess things up */
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    right: 0;
    box-shadow: 0 0 15px #999;
    padding: 5vh;
}
#part-selector span.a {
    font-size: 14pt;
}
#part-selector span.separator {
    color: #aaa;
    padding: 0.5em;
}
#breadcrumbs {
    font-family: Quicksand, sans-serif;
    /* to center compared to search icon */
    line-height: 3rem;
}
.part {
    height: 8em;
    min-width: 250px;
    width: 15vw;
    box-shadow: 0 0 8px #777;
    background-color: #fff;
    border-radius: 3px;
    border-left: 5px solid #ff4545;
    margin: 0 20px 20px 0;
    cursor: pointer;
}
.part-padding {
    padding: 15px;
    overflow: none;
}
.part-header {
    font-size: 1.4em;
    font-weight: 600;
}
.part-subtext {
    font-size: 0.9em;
    padding-top: 1em;
    color: #888;
}
#search-toggle-label {
    float: right;
    border: 2px solid transparent;
    color: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 300ms;
}
#search-icon {
    transform: rotate(45deg);
    font-size: 2.5rem;
}
#searching-container {
    display: none;
}
#search-toggle:checked ~ #search-toggle-label {
    border: 2px solid #f44;
    color: #f44;
}
#search-toggle:checked ~ #not-searching-container {
    display: none;
}
#search-toggle:checked ~ #searching-container {
    display: unset;
}
#search-bar {
    background-color: #ccc;
    color: #888;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    height: 3rem;
    box-sizing: border-box;
    width: 75%;
    font-family: Quicksand, sans-serif;
}
