body {
	--mobile-toggle-width: 2rem;
}
#part-selector {
	flex: 40vw;
	box-sizing: border-box;
	/* otherwise, the scrollbar affects width and can mess things up */
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	right: 0;
	/* if this is ever changed, make sure to update mobile.css as well! */
	box-shadow: 0 0 15px #999;
	padding: 2rem 5px 0 1.3rem;
	background-color: #f7f7f7;
}
#part-selector h2 {
	padding: 0;
	margin: 0.7rem 0;
}
#part-selector span.a {
	font-size: 14pt;
}
#part-selector span.separator {
	color: #aaa;
	padding: 0.5em;
}
#breadcrumbs {
	font-family: Quicksand, sans-serif;
	/* to center compared to search icon */
	line-height: 3rem;
}
#main-selector-wrapper > div:last-child {
	margin-bottom: 1rem;
}
.part {
	box-sizing: border-box;
	min-height: 7em;
	min-width: 210px;
	width: 10vw;
	box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	border-radius: 3px;
	margin: 0 15px 15px 0;
	cursor: pointer;
}
.part.amd {
	border-left: 5px solid #ff4545;
}
.part.intel {
	border-left: 5px solid hsl(200, 90%, 50%);
}
.part.nvidia {
	border-left: 5px solid #76B900;
}
.part-padding {
	padding: 10px;
	overflow: none;
}
.part-header {
	font-size: 1.2em;
	font-weight: 600;
}
.part-subtext {
	font-size: 0.9em;
	padding-top: 0.5em;
	color: #888;
}
#search-toggle-label {
	float: right;
	border: 2px solid transparent;
	color: #777;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	box-sizing: border-box;
	transition: border-color 300ms;
}
#search-toggle-label > svg {
	transform: rotate(90deg);
  height: 1.75rem;
  width: 1.75rem;
  fill: #777;
  transition: fill 300ms;
}
#search-toggle-label.selected {
    border: 2px solid #f44;
}
#search-toggle-label.selected > svg {
    fill: #f44;
}
#search-bar {
	background-color: #ccc;
	color: #888;
	border: none;
	font-size: 2rem;
	padding: 0.5rem;
	height: 3rem;
	box-sizing: border-box;
	width: 75%;
	font-family: Quicksand, sans-serif;
}

#mobile-toggle-label-wrapper {
	display: none;
	position: fixed;
	right: 0;
	top: 25%;
	height: calc(var(--mobile-toggle-width) * 2);
	transition: transform 300ms;
}
#mobile-toggle-label {
	border-top-left-radius: 999px;
	border-bottom-left-radius: 999px;
	position: absolute;
	top: 0;
	right: 0;
	width: var(--mobile-toggle-width);
	background-color: #f7f7f7;
	box-shadow: 0 0 15px #999;
	height: 100%;
	/* for some reason 10vh isn't centered */
	line-height: 3.5rem;
	font-size: 1.5rem;
	text-align: center;
	color: #888;
	cursor: pointer;
}
#mobile-toggle:checked ~ #mobile-toggle-label-wrapper {
	transform: translateX(calc(-100vw + var(--mobile-toggle-width)));
}
