#spec-viewer {
    flex: 60vw;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 5vh 4vw 0 4vw;
}
#nothing-selected {
    font-size: 4rem;
    line-height: 4rem;
    height: calc(95vh - 2.5rem);
    font-style: italic;
    text-align: center;
    color: #888;
    font-family: Quicksand, sans-serif;
}
.justify-center {
    justify-content: center;
}
#selected-parts-list {
    margin-bottom: 5vh;
}
#spec-table {
    margin: 0 auto;
}
h2.centered {
    text-align: center;
    width: 100%;
}
h2.top {
    padding-top: 0;
}
.spec-tab {
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    margin: 5vh auto;
    border-collapse: collapse;
}
.spec-tab th, .spec-tab td {
    padding: 1.3em 1em;
    border-left: 1px solid #ccc;
    width: 10vw;
    vertical-align: top;
}
.spec-tab th {
    font-weight: 600;
    font-size: 1.1em;
}
.spec-tab tr:nth-child(even) {
    background-color: #f7f7f7;
}
.spec-tab td.winner {
    color: #ff4545;
}
.spec-tab td:first-child {
    color: #777;
    border-left: none;
    width: 8vw;
    font-family: Quicksand, sans-serif;
}
.spec-tab td.left-corner {
    border: none;
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #aaa;
}
#info-links {
    width: 100%;
    color: #777;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 1rem;
}
#info-links a {
    color: inherit;
    text-decoration: underline;
    transition: color 400ms;
}
#info-links a:hover {
    color: #ff4545;
}
.table-option {
    color: #999;
    border: 2px solid transparent;
    transition: all 250ms;
    padding: 1em;
    cursor: pointer;
    margin: 0 1vw;
    user-select: none;
}
