#spec-viewer {
    flex: 60vw;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 5vh 0 0 0;
}
#nothing-selected {
    font-size: 4rem;
    line-height: 4rem;
    height: calc(95vh - 2.5rem);
    font-style: italic;
    text-align: center;
    color: #888;
    font-family: Quicksand, sans-serif;
}
.justify-center {
    justify-content: center;
}
#selected-parts-list {
    margin-bottom: 5vh;
}
h2.centered {
    text-align: center;
    width: 100%;
}
h2.top {
    padding-top: 0;
}

/* table stuff */
.spec-tab-wrapper {
    width: 100%;
    overflow-x: auto;
}
.spec-tab {
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    border-collapse: collapse;
    margin: 5vh auto;
    max-width: calc(100% - 30px - 9rem);
}
.spec-tab th, .spec-tab td {
    padding: 1.3em 1em;
    border-left: 1px solid #ccc;
    max-width: 10rem;
    min-width: 4rem;
    width: 10rem;
    vertical-align: top;
}
.spec-tab th {
    font-weight: 600;
    font-size: 1.1em;
}
.spec-tab tr:nth-child(even) {
    background-color: #f7f7f7;
}
.spec-tab .winner {
    color: #ff4545;
}
.spec-tab .row-header {
    color: #777;
    border-left: none;
    width: 8vw;
    font-family: Quicksand, sans-serif;
}
.spec-tab .left-corner {
    border: none;
}
.spec-tab .table-section-collapsed {
    border: none;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    background: repeating-linear-gradient(-45deg, #f7f7f7, #f7f7f7 10px, #fff 10px, #fff 20px);
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #aaa;
}
#info-links {
    width: 100%;
    color: #777;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 1rem;
}
#info-links span {
    color: #fff;
    background-color: #ff4545;
    padding: 0.2rem 0.5rem;
}
#info-links a {
    color: inherit;
    text-decoration: underline;
    transition: color 400ms;
}
#info-links a:hover {
    color: #ff4545;
}
.table-option {
    color: #999;
    border: 2px solid transparent;
    transition: all 250ms;
    padding: 1em;
    cursor: pointer;
    margin: 0 1vw;
    user-select: none;
}

/* table sections stuff */
.spec-tab td.table-section-hidden {
    max-width: 0;
    min-width: 0;
    width: 0;
    /* setting height to 0 allows us to do percentage height for children,
       but doesn't actually change the height of the cell. */
    height: 0;
    padding: 0;
    border: none;
}
.table-section {
    height: 100%;
    position: relative;
    left: 1rem;
    width: calc(30px + 1.5rem);
}
.table-section-label-wrapper {
    position: absolute;
    left: -2rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.table-section-label {
    position: absolute;
    display: block;
    transform-origin: top left;
    transform: rotate(90deg);
    width: 10rem;
    text-align: center;
    top: calc(50% - 5rem);
    left: 4rem;
}
.table-section-bracket {
    position: absolute;
    /* way too lazy to flip it properly */
    transform-origin: center center;
    transform: rotate(180deg);
    height: calc(100% - 2rem);
    top: 1rem;
    left: 0;
    min-height: 60px;
    width: 30px;
}
.table-section-bracket div {
    position: absolute;
}
.bracket-curve {
  border-radius: 999px;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border: 10px solid transparent;
  border-top-color: #999;;
}
.bracket-rect {
  height: calc((100% - 70px) / 2);
  background-color: #999;
  width: 10px;
}
.bracket-upper-end {
  transform: rotate(-45deg);
  left: 10px;
  top: 0;
}
.bracket-upper-rect {
  left: 10px;
  top: 20px;
}
.bracket-upper-join {
  transform: rotate(135deg);
  left: -20px;
  top: calc((100% - 70px) / 2);
}
.bracket-lower-join {
  transform: rotate(45deg);
  bottom: calc((100% - 70px) / 2);
  left: -20px;
}
.bracket-lower-rect {
  left: 10px;
  bottom: 20px;
}
.bracket-lower-end {
  transform: rotate(-135deg);
  left: 10px;
  bottom: 0;
}