.big-padded {
    padding: 10vh;
}
#nothing-selected {
    font-size: 4em;
    font-style: italic;
    text-align: center;
    color: #777;
    line-height: 15vh;
}
#selected-parts-list {
    justify-content: center;
}
#spec-table {
    margin: 0 auto;
}
h2.centered {
    text-align: center;
    width: 100%;
}
