.big-padded {
    padding: 3em 4vw;
}
#nothing-selected {
    font-size: 4em;
    font-style: italic;
    text-align: center;
    color: #888;
    line-height: 15vh;
    padding-top: 0;
    margin-top: 0;
    font-family: Quicksand, sans-serif;
}
#selected-parts-list {
    justify-content: center;
    margin-bottom: 5vh;
}
#spec-table {
    margin: 0 auto;
}
h2.centered {
    text-align: center;
    width: 100%;
}
h2.top {
    padding-top: 0;
}
table {
    background-color: #fff;
    box-shadow: 0 0 5px #999;
    margin: 5vh auto;
    border-collapse: collapse;
}
th, td {
    padding: 1.3em 1vw;
    border-left: 1px solid #ccc;
    width: 10vw;
}
th {
    font-weight: 600;
    font-size: 1.1em;
}
tr:nth-child(even) {
    background-color: #f7f7f7;
}
td.winner {
    color: #ff4545;
}
td:first-child {
    color: #777;
    border-left: none;
    width: 8vw;
    font-family: Quicksand, sans-serif;
}
td.left-corner {
    border: none;
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #aaa;
}
#info-links {
    width: 100%;
    color: #777;
    position: absolute;
    text-align: center;
    bottom: 1.5em;
    font-size: 0.9em;
}
#info-links a {
    color: inherit;
    text-decoration: underline;
    transition: color 400ms;
}
#info-links a:hover {
    color: #ff4545;
}
